{% extends 'base.html' %}
{% load static %}

{% block css %}
    <!-- Price range icon -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/price-range.css' %}">
{% endblock %}

{% block content %}

    <!-- breadcrumb start -->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="page-title">
                        <h2>collection</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <nav aria-label="breadcrumb" class="theme-breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">collection</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->


    <!-- section start -->
    <section class="section-b-space ratio_asos">
        <div class="collection-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 collection-filter">
                        <div class="collection-filter-block">
                            <div class="collection-mobile-back">
                                <span class="filter-back">
                                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                                    back
                                </span>
                            </div>
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">Category</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        <ul class="category-list">
                                            {% for category in categories %}
                                                <li><a href="{% url 'products_list' %}?category={{category.category_name}}">{{category.category_name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- side-bar colleps block stat -->
                        <div class="collection-filter-block">
                            <!-- brand filter start -->
                            <div class="collection-mobile-back"><span class="filter-back"><i class="fa fa-angle-left"
                                        aria-hidden="true"></i> back</span></div>
                            <div class="collection-collapse-block open">
                                <h3 class="collapse-block-title">brand</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        {% for brand in brands %}
                                            <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{ brand.name }}">
                                                <label class="custom-control-label" for="{{ brand.name }}"><a style="color: #777777" href='?category={{brand.category_id}}&brand={{brand.name}}'>{{ brand.name }}</a></label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- color filter start here -->
                            <div class="collection-collapse-block open">
                                <h3 class="collapse-block-title">colors</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="color-selector">
                                        <ul>
                                            {% for color in colors %}
                                                <a href="?color={{color.name}}"><li style="background-color: {{color.name|lower}}"></li></a>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- size filter start here -->
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">size</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="collection-brand-filter">
                                        {% for size in sizes %}
                                            <div class="custom-control custom-checkbox collection-filter-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{size}}">
                                                <label class="custom-control-label" for="{{size}}"><a style="color: #777777" href="?size={{size.name}}">{{size.name}}</a></label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <!-- price filter start here -->
                            <div class="collection-collapse-block border-0 open">
                                <h3 class="collapse-block-title">price</h3>
                                <div class="collection-collapse-block-content">
                                    <div class="wrapper mt-3">
                                        <div class="range-slider">
                                            <input type="text" class="js-range-slider" value="" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- silde-bar colleps block end here -->
                        <!-- side-bar single product slider start -->
                        <div class="theme-card">
                            <h5 class="title-border">new product</h5>
                            <div class="offer-slider slide-1">
                                <div>
                                    {% for new_product in new_products %}
                                        <div class="media">
                                            <a href="{% url 'product_detail' new_product.product_id.slug %}"><img class="img-fluid blur-up lazyload" src="{{ new_product.product_id.cover_image.url }}" alt=""></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating">
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 1 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 2 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 3 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 4 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg == 5 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                </div>
                                                <a href="{% url 'product_detail' new_product.product_id.slug %}">
                                                    <h6>{{ new_product.product_id.product_name }}</h6>
                                                </a>
                                                {% if new_product.product_id.in_sale %}
                                                    <h4>${{ new_product.product_id.new_price|floatformat:2 }} <del>${{ new_product.product_id.price|floatformat:2 }}</del></h4>
                                                {% else %}
                                                    <h4>${{ new_product.product_id.price|floatformat:2 }}</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div>
                                    {% for new_product in new_products2 %}
                                        <div class="media">
                                            <a href="{% url 'product_detail' new_product.product_id.slug %}"><img class="img-fluid blur-up lazyload" src="{{ new_product.product_id.cover_image.url }}" alt=""></a>
                                            <div class="media-body align-self-center">
                                                <div class="rating">
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 1 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 2 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 3 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg >= 4 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                    <i class="fa fa-star" {% if new_product.rate_avg == 5 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                </div>
                                                <a href="{% url 'product_detail' new_product.product_id.slug %}">
                                                    <h6>{{ new_product.product_id.product_name }}</h6>
                                                </a>
                                                {% if new_product.product_id.in_sale %}
                                                    <h4>${{ new_product.product_id.new_price|floatformat:2 }} <del>${{ new_product.product_id.price|floatformat:2 }}</del></h4>
                                                {% else %}
                                                    <h4>${{ new_product.product_id.price|floatformat:2 }}</h4>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- side-bar single product slider end -->
                        <!-- side-bar banner start here -->
                        <div class="collection-sidebar-banner">
                            <a href="#"><img src="{% static 'images/_multikart_/banner.png' %}" class="img-fluid blur-up lazyload" alt=""></a>
                        </div>
                        <!-- side-bar banner end here -->
                    </div>
                    <div class="collection-content col">
                        <div class="page-main-content">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="top-banner-wrapper">
                                        <a href="#"><img src="{% static 'images/_multikart_/side-banner.jpg' %}" class="img-fluid blur-up lazyload" alt=""></a>
                                        <div class="top-banner-content small-section">
                                            <h4>fashion</h4>
                                            <h5>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            </h5>
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
                                                it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                                                of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                        </div>
                                    </div>
                                    <div class="collection-product-wrapper">
                                        <div class="product-top-filter">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="filter-main-btn"><span class="filter-btn btn btn-theme"><i class="fa fa-filter"
                                                                aria-hidden="true"></i> Filter</span></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="product-filter-content">
                                                        <div class="search-count">
                                                            <h5>Showing Products 1-24 of {{ productcount }} Result</h5>
                                                        </div>
                                                        <div class="collection-view">
                                                            <ul>
                                                                <li><i class="fa fa-th grid-layout-view"></i></li>
                                                                <li><i class="fa fa-list-ul list-layout-view"></i></li>
                                                            </ul>
                                                        </div>
                                                        <div class="collection-grid-view">
                                                            <ul>
                                                                <li><img src="{% static 'images/icon/2.png' %}" alt="" class="product-2-layout-view"></li>
                                                                <li><img src="{% static 'images/icon/3.png' %}" alt="" class="product-3-layout-view"></li>
                                                                <li><img src="{% static 'images/icon/4.png' %}" alt="" class="product-4-layout-view"></li>
                                                                <li><img src="{% static 'images/icon/6.png' %}" alt="" class="product-6-layout-view"></li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-page-per-view">
                                                            <select>
                                                                <option value="High to low">24 Products Par Page
                                                                </option>
                                                                <option value="Low to High">50 Products Par Page
                                                                </option>
                                                                <option value="Low to High">100 Products Par Page
                                                                </option>
                                                            </select>
                                                        </div>
                                                        <div class="product-page-filter">
                                                            <select>
                                                                <option value="High to low">Sorting items</option>
                                                                <option value="Low to High">50 Products</option>
                                                                <option value="Low to High">100 Products</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-wrapper-grid product-load-more">
                                            <div class="row margin-res">
                                                {% for product in products %}
                                                    <div class="col-xl-3 col-6 col-grid-box">
                                                        <div class="product-box">
                                                            <div class="img-wrapper">
                                                                <div class="front">
                                                                    <a href="{% url 'product_detail' product.product_id.slug %}"><img src="{{ product.product_id.cover_image.url }}" class="img-fluid blur-up lazyload bg-img" alt=""></a>
                                                                </div>
                                                                <div class="cart-info cart-wrap">
                                                                    {% if product.quantity > 0 %}
                                                                        <button data-toggle="modal" onclick="AddToBasket($(this).attr('data'))" data="{{ product.id }}" data-target="#addtocart" title="Add to cart"> <i class="ti-shopping-cart"></i></button>
                                                                    {% endif %}
                                                                    <a href="javascript:void(0)" onclick = "functionAddToWishlist($(this).attr('data'))" data="{{ product.id }}" title="Add to Wishlist"><i class="ti-heart" aria-hidden="true"></i></a>
                                                                    <a href="#" data-toggle="modal" data-target="#quick-view" title="Quick View"><i class="ti-search" aria-hidden="true"></i></a>
                                                                    <a href="compare.html" title="Compare"><i class="ti-reload" aria-hidden="true"></i></a>
                                                                </div>
                                                            </div>
                                                            <div class="product-detail">
                                                                <div>
                                                                    <div class="rating">
                                                                        <i class="fa fa-star" {% if product.rate_avg >= 1 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                                        <i class="fa fa-star" {% if product.rate_avg >= 2 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                                        <i class="fa fa-star" {% if product.rate_avg >= 3 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                                        <i class="fa fa-star" {% if product.rate_avg >= 4 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                                        <i class="fa fa-star" {% if product.rate_avg == 5 %} style="color:orange;" {% else %} style="color:gray;" {% endif %}></i>
                                                                    </div>
                                                                    <a href="#">
                                                                        <h6>{{ product.product_id.product_name }}</h6>
                                                                    </a>
                                                                    <p>{{ product.product_id.short_description }}</p>
                                                                    {% if product.product_id.in_sale %}
                                                                        <h4>${{ product.product_id.new_price|floatformat:2 }} <del>${{ product.product_id.price|floatformat:2 }}</del></h4>
                                                                    {% else %}
                                                                        <h4>${{ product.product_id.price|floatformat:2 }}</h4>
                                                                    {% endif %}
                                                                    <ul class="color-variant">
                                                                        {% for color in product.color_id.all %}
                                                                            <li style="background-color: {{color.name|lower}}; border: 1px solid #aaa;"></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- section End -->

    {% block footer %}
    <!-- Quick-view modal popup start-->
    {% endblock %}
    <div class="modal fade bd-example-modal-lg theme-modal" id="quick-view" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content quick-view-modal">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <div class="row">
                        <div class="col-lg-6 col-xs-12">
                            <div class="quick-view-img"><img src="{% static 'images/pro3/1.jpg' %}" alt="" class="img-fluid blur-up lazyload"></div>
                        </div>
                        <div class="col-lg-6 rtl-text">
                            <div class="product-right">
                                <h2>Women Pink Shirt</h2>
                                <h3>$32.96</h3>
                                <ul class="color-variant">
                                    <li class="bg-light0"></li>
                                    <li class="bg-light1"></li>
                                    <li class="bg-light2"></li>
                                </ul>
                                <div class="border-product">
                                    <h6 class="product-title">product details</h6>
                                    <p>Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
                                </div>
                                <div class="product-description border-product">
                                    <div class="size-box">
                                        <ul>
                                            <li class="active"><a href="#">s</a></li>
                                            <li><a href="#">m</a></li>
                                            <li><a href="#">l</a></li>
                                            <li><a href="#">xl</a></li>
                                        </ul>
                                    </div>
                                    <h6 class="product-title">quantity</h6>
                                    <div class="qty-box">
                                        <div class="input-group"><span class="input-group-prepend"><button type="button"
                                                    class="btn quantity-left-minus" data-type="minus" data-field=""><i
                                                        class="ti-angle-left"></i></button> </span>
                                            <input type="text" name="quantity" class="form-control input-number" value="1"> <span class="input-group-prepend"><button type="button"
                                                    class="btn quantity-right-plus" data-type="plus" data-field=""><i
                                                        class="ti-angle-right"></i></button></span></div>
                                    </div>
                                </div>
                                <div class="product-buttons"><a href="#" class="btn btn-solid">add to cart</a> <a href="#" class="btn btn-solid">view detail</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quick-view modal popup end-->
    {% endblock %}

    {% block js %}
        <!-- price range js -->
        <script src="{% static 'js/price-range.js' %}"></script>
    {% endblock %}